*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cube div span h2{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 23px;
    font-size: 70px;
    transform: translateZ(10px);
}
.cube div span h3{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transform: translateZ(10px);
    text-align: center;
}
.cube{
    margin-top: 20%;
    margin-left: 40%;
    position: center;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#131716,#0b9c49);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    transform-style: preserve-3d;
}
.top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #141e17;
    transform: rotateX(90deg) translateZ(100px);
}
.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgb(5, 255, 55);
    filter: blur(20px);
    transform: translateZ(-250px);
    box-shadow: 0 0 120px rgba(0,255,0,0,2), 
    0 0 200px rgba(0,250,0.4), 
    0 0 300px rgba(0,250,0.6),
    0 0 400px rgba(0,250,0.8),
    0 0 500px rgba(0,250,0.1),
}